* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'sans serif';
  background: radial-gradient(circle, #62a74d 23%, #3e8445 79%); }
  body .cont {
    max-width: 80%;
    text-align: center; }
  body h3 {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 2.5rem;
    padding: 10px; }
    @media (max-width: 576px) {
      body h3 {
        font-size: 1.2rem; } }
  body h4 {
    color: #fff;
    font-size: 2rem; }
    @media (max-width: 576px) {
      body h4 {
        font-size: 1.2rem; } }
  body h5 {
    font-size: 1.5rem;
    color: white; }
  body .campoImg {
    width: 70%; }
  body .campoImg2 {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  body .reserva {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    width: 12em;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #039903;
    font-size: 1rem;
    font-family: "Rye";
    color: white;
    text-decoration: none;
    cursor: pointer; }
    body .reserva:hover {
      background-color: white;
      color: #039903;
      animation: pulsate 1s ease-in-out; }
    @media (max-width: 576px) {
      body .reserva {
        font-size: 0.8rem; } }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 30px #ececec; } }

.facebook {
  background-color: #3b5998; }

.instagram {
  background-color: #833AB4; }

.twitter {
  background-color: #55acee; }

.whatsapp {
  background-color: #4dc247; }

.anclas, footer .redes a, footer .footerLinks ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem; }

/* HEADER */
header .logo {
  font-size: 1.5rem;
  font-family: "Rye";
  color: white;
  margin-left: 20px;
  text-decoration: none; }
  @media (max-width: 576px) {
    header .logo {
      font-size: 0.8rem; } }

header nav {
  min-height: 80px;
  background: linear-gradient(90deg, #254728 0%, #1a7909 35%, #12a316 100%);
  background-size: 400% 400%;
  animation: gradiente 5s ease infinite; }
  header nav li a {
    color: white  !important;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Rye";
    padding: 10px 5px;
    border-radius: 10px;
    transition: 0.5s; }
    header nav li a:hover {
      font-size: 1.2rem; }
  header nav .submenu {
    background-color: #0E9E0Ed9; }
    header nav .submenu a:hover {
      background-color: #0E9E0Ed9; }
    @media screen and (max-width: 1024px) {
      header nav .submenu {
        background-color: rgba(0, 128, 0, 0.021);
        border: none; } }
  header nav .giraMove {
    width: 40px;
    height: 50px;
    position: relative;
    animation: mover 2s; }

@keyframes mover {
  from {
    transform: translateX(-50%) rotate(-180deg); }
  to {
    transform: rotate(0deg); } }
    @media (max-width: 576px) {
      header nav .giraMove {
        width: 25px;
        height: 25px;
        position: relative;
        animation: mover 2s; } }

@keyframes gradiente {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

header .buttonEffect {
  color: white;
  text-decoration: none;
  font-family: "Rye";
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #039903; }
  header .buttonEffect:hover {
    color: #039903;
    background-color: white;
    animation: pulsate 1s ease-in-out; }
  @media (max-width: 576px) {
    header .buttonEffect {
      font-size: .5rem; } }

@keyframes pulsate {
  0% {
    box-shadow: 0 0 30px white; } }

/*FOOTER*/
footer {
  background-color: white;
  padding: 10px;
  margin-top: 3rem;
  text-align: center;
  width: 100%; }
  footer .redes a {
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin: 0 5px; }
    footer .redes a:hover {
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); }
  footer .footerLinks ul {
    padding: 0; }
    footer .footerLinks ul li {
      display: inline-block;
      margin: 0.5rem;
      padding: 0.5rem; }
      @media (max-width: 768px) {
        footer .footerLinks ul li {
          margin: 0.05rem;
          padding: 0.05rem; } }
      footer .footerLinks ul li a {
        color: #039903; }
        @media (max-width: 576px) {
          footer .footerLinks ul li a {
            font-size: 1rem; } }

/*PORTADA*/
.portada {
  margin: 0;
  margin-bottom: 1.5rem;
  z-index: 0;
  text-align: center;
  max-width: 100%; }
  .portada .portadaPrinci {
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden; }
    .portada .portadaPrinci .centrado {
      top: 60%;
      left: 0;
      right: 0;
      font-size: 2rem;
      text-shadow: 0 0 8px black;
      border-radius: 10px;
      padding: 5px;
      color: #e9ebe9;
      font-family: "Rye";
      z-index: 1;
      position: absolute; }
      @media (max-width: 576px) {
        .portada .portadaPrinci .centrado {
          font-size: 1.2rem;
          top: 25%; } }
    .portada .portadaPrinci .video1 {
      width: 100%; }
    @media screen and (max-width: 1368px) {
      .portada .portadaPrinci {
        max-width: 100%;
        height: auto; } }
  .portada .arranque {
    /* button:active ~ .tractor {
        animation: tractor 5s;
        }*/ }
    .portada .arranque .tractor {
      display: flex;
      align-self: flex-start;
      width: 50px;
      margin-bottom: -25px;
      animation: tractor 10s infinite; }

@keyframes tractor {
  from {
    transform: translateX(0%); }
  to {
    transform: translateX(99vw); } }

form {
  width: 400px;
  text-align: center; }
  @media screen and (max-width: 1024px) {
    form {
      margin: auto; } }
  form .field {
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    background: #fff; }
    form .field .boton {
      text-align: center; }
    form .field legend {
      color: black;
      font-size: 1.5rem;
      text-align: center; }
    form .field .contacto {
      display: block; }
      form .field .contacto p {
        line-height: 1.5rem;
        margin: auto;
        text-align: justify;
        padding: 1rem;
        width: 100%;
        font-size: 1.2rem; }
    form .field .respuesta {
      padding: 0.5rem;
      padding-inline-end: 6rem;
      margin: auto;
      border-radius: 5px;
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
      background-color: rgba(20, 104, 3, 0.74);
      color: white; }
      form .field .respuesta:focus {
        background-color: #0e993cd7; }
      @media (max-width: 576px) {
        form .field .respuesta {
          width: 100%; } }
    form .field input::placeholder {
      color: white; }
    form .field textarea {
      width: 100%;
      border-radius: 5px;
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
      background-color: rgba(20, 104, 3, 0.74);
      color: white; }
      form .field textarea:focus {
        background-color: #0e993cd7; }

.datos {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  z-index: 0;
  text-align: center;
  background-color: rgba(28, 124, 9, 0.219); }
  @media (max-width: 576px) {
    .datos {
      width: 100%; } }

.formUbi {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin: auto;
  margin-top: 20px; }
  .formUbi iframe {
    height: 300px;
    border-radius: 10px; }

/*Acerca de*/
.acercaDe {
  padding-top: 20px;
  padding: 10px;
  margin: auto;
  font-family: 'roboto';
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem; }
  .acercaDe p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    margin: auto;
    margin-top: 1rem;
    max-width: 80%;
    background: white;
    padding: 2rem;
    border-radius: 10px; }
    @media (max-width: 576px) {
      .acercaDe p {
        max-width: 90%;
        font-size: 1rem; } }

/* Section ubicacion */
.ubicacion {
  border: 1px solid black;
  margin-top: 1rem;
  margin: auto;
  max-width: 50%; }
  @media (max-width: 576px) {
    .ubicacion {
      max-width: 90%;
      font-size: 1.2rem; } }
  .ubicacion p {
    line-height: 3rem;
    margin: auto;
    text-align: justify;
    padding: 1rem;
    width: 100%;
    font-size: 1.2rem; }

aside {
  text-align: center;
  margin-top: 1rem;
  margin: auto;
  margin-top: 20px; }
  aside iframe {
    width: 350px;
    height: 280px;
    border-radius: 10px; }

.textDia {
  text-align: justify;
  margin: 2rem auto;
  line-height: 2rem;
  font-size: 1.5rem;
  width: 50%; }
  @media (max-width: 576px) {
    .textDia {
      font-size: 1rem;
      width: 100%; } }

.crono {
  margin: auto; }
  .crono h4 {
    text-align: center;
    margin: 1rem 0; }
  .crono .text1 {
    border-right: 4px solid;
    margin: 10px auto;
    width: 22ch;
    animation: typing 2s steps(22), space 0.5s infinite;
    animation-delay: 2s;
    white-space: nowrap;
    overflow: hidden; }
  .crono .actividades {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 0.5rem 0rem;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    background: #ebebeb; }
    .crono .actividades p {
      text-align: justify;
      margin: auto;
      line-height: 2rem;
      padding: 1rem;
      width: 100%;
      font-size: 1.2rem; }
      @media (max-width: 576px) {
        .crono .actividades p {
          font-size: 1rem; } }
    .crono .actividades .btnPromo {
      background-color: #0b9204;
      width: 8.5em;
      margin: 0 10px; }
      @media (max-width: 576px) {
        .crono .actividades .btnPromo {
          font-size: 0.8rem; } }

@keyframes typing {
  from {
    width: 0; } }

@keyframes space {
  50% {
    border-color: transparent; } }

.promoModal {
  margin: 10px; }

.promoModal2 {
  background-image: url(../img/mesh.png); }

.promoModal p {
  font-size: 1.5rem; }

.textEvent {
  line-height: 2rem;
  font-size: 1.5rem;
  text-align: justify;
  margin: 2rem auto; }
  @media (max-width: 576px) {
    .textEvent {
      font-size: 1rem; } }

.social, .corpo {
  margin: auto; }
  .social .textEventos, .corpo .textEventos {
    padding: 0.5rem 0rem;
    margin: 1rem 0rem;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    background: #ebebeb; }
    .social .textEventos p, .corpo .textEventos p {
      display: inline;
      line-height: 2rem;
      padding: 1rem 3rem;
      width: 100%;
      font-size: 1.2rem; }
      @media (max-width: 576px) {
        .social .textEventos p, .corpo .textEventos p {
          padding: 0 0.1rem;
          font-size: 1rem; } }

.whatsappFixed {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 40px;
  background-color: #4dc247;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 24px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }
  @media (max-width: 576px) {
    .whatsappFixed {
      display: none; } }
  .whatsappFixed .iconWhat {
    margin-top: 14px; }

.galeria {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  align-items: center; }
  .galeria div {
    margin: 0.5rem;
    max-width: 300px;
    margin: auto; }
    .galeria div img {
      max-width: 100%;
      transition: transform .2s;
      padding: 5px;
      border: 1px solid #444444;
      border-radius: 4px;
      box-shadow: 3px 3px 10px;
      text-align: center; }
      .galeria div img:hover {
        transform: scale(1.5); }

.girasoles {
  text-align: center; }
  .girasoles iframe {
    max-width: 100%; }

.grid {
  display: grid;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid white;
  border-radius: 5px; }
  .grid .item1 {
    grid-column: 1;
    grid-row: 1 / 3; }
  .grid .item2 {
    grid-column: 2;
    grid-row: 1/2; }
  .grid .item3 {
    grid-column: 2;
    grid-row: 2/3; }
