$colorfondo:  radial-gradient(circle, rgba(98,167,77,1) 23%, rgba(62,132,69,1) 79%);
$colorfondo2: url(../img/backfondo.png);
$submenucolor: #0E9E0Ed9;
$textdescanso: 2rem;
$textp:1.2rem;
$textpmobile:1rem;
$bgnav:  linear-gradient(90deg, rgb(37, 71, 40) 0%, rgba(26, 121, 9, 1) 35%, rgb(18, 163, 22) 100%);
$hMob: 1.2rem;
$logo: 1.5rem;
$anclas:1.5rem;
$logomobile: 0.8rem;
$fontrye: 'Rye';
$fontfootercolor:#039903;
$focusform: #0e993cd7;
$botoncolor: #039903;