
    /*Acerca de*/

    .acercaDe {
        padding-top: 20px;
        padding: 10px;
        margin: auto;
        text-align: center;
        margin-bottom: 2rem;
    
      p {
        font-style: italic;
        font-size:$textp ;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        border: 1px solid black;
        margin: auto;
        margin-top: 1rem;
        max-width: 80%;
        background: white;
        padding: 2rem;
        border-radius: 10px;
          
      @media (max-width:576px){   
              font-size: $textpmobile;
              line-height: 1.5rem;
              max-width: 100%;
          }
        }
    }
  


    
  /* Section ubicacion */


  .ubicacion {
    border: 1px solid black;
    margin-top: 1rem;
    margin: auto;
    max-width: 50%;

    @media (max-width:576px){   
      max-width: 90%;
      font-size: $hMob;
     }
  
    p {
      line-height: 3rem;
      margin: auto;
      text-align: justify;
      padding: 1rem;
      width: 100%;
      font-size: $textp;

      @media (max-width:576px){   
        font-size: $textpmobile;
       }
    }
  }
  
  aside {
    text-align: center;
    margin-top: 1rem;
    margin: auto;
    margin-top: 20px;
    
    .mapa {
      max-width:80% ;
    }

    iframe {
      width: 350px;
      height: 280px;
      border-radius: 10px;
    }
  }

  .comentarios {
    text-align: center;
    margin-bottom: 50px;
    
       
    .comentarios2 {
     
      border-bottom: 7px;
      background: linear-gradient(112deg, #ffffff 30%, #237920 70%);
      width: 80%;
      border-radius: 15px 50px;
      margin: auto;

      .testiNombre {
        font-style: italic;
        font-size: 1.5rem;
        color: #000000;
      }

      .imgComentario {
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

      p {
      
      margin-top: 10px;
      font-size: $textp;

      @media (max-width:576px){   
        font-size: $textpmobile;
       }
      } 

    }
    i {
    color: #ffcd3c;}
  }

.opciones {
  text-align: center;
   
  img {
    height: 200px;
  }
  
  a  {
      text-decoration: none;
      margin-top: 10px;
      position: relative;
      display: inline-block;
      
      &::after, &::before {
        content: '';
        position: absolute;
        width: 70px;
        height: 2px;
        background-color: white;
        top: 45%;
      }
      &::after {
        left: -70px;
      }
      &::before {
        right: -70px;
      }

    }

    
}