

.textEvent {
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem auto;

    @media (max-width:576px){     
        font-size: 1rem;}

}

.social,.corpo {
    margin: auto;

    .grid {
        display: grid;
        max-width: 700px;
        margin: auto;
        background-color: white;
        gap: 5px;
        justify-content: center;
        grid-template-columns: repeat(6,1fr);
        border: 2px solid white;
        border-radius: 5px;

       
   
        .item1 {  
            grid-column: span 3;
            grid-row: span 2;
            
        }
        .item2 {
            grid-column: span 3;
            
        }
        .item3 {
          grid-column:  span 3;
          
        }

        .gridImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;

        }
        


        @media (max-width:568px) {
            grid-template-columns:repeat(3,1fr);
            .gridImg {
                height: 200px;
            }
        
        }
        
     
    } 

       .textEventos {
        

        padding: 0.5rem 0rem;
        margin: 1rem 0rem;
        text-align:center;
        border-radius: 5px; 
        border: solid 1px #ccc;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        background: #ebebeb; 
       

        p {
            display: inline;
            line-height: 2rem;
            padding: 1rem 3rem ;
            width: 100%;
            font-size: 1.2rem;

            @media (max-width:576px){        
                padding: 0 0.1rem;
                font-size: 0.8rem;}
        }
    }



}
