  /*PORTADA*/

.portada {
    margin: 0;
    margin-bottom: 1.5rem;
    z-index: 0;
    text-align: center;
    max-width:100%;
   
    .portadaPrinci {
        position: relative;
        overflow: hidden;
        @include centrado;

        .video1 {
            width: 100%;
            height: calc(100vh - 140px);

            @media (max-width:567px){
                max-width: 100%;
                height: auto; }  
        }

    }    

    
    .portadaPrinci2 {
        
        position: relative;
        overflow: hidden;
        @include centrado;
    }   

    
    
   
    .arranque {

        
        
        .tractor {
            display: flex;
            align-self: flex-start;
            width: 50px;
            margin-bottom: -25px;
            animation: tractor 10s infinite;
            }
    

       /* button:active ~ .tractor {
        animation: tractor 5s;
        }*/

        @keyframes tractor {
            from {
                transform: translateX(0%);
            }
            to {
                transform: translateX(80vw);
            }
        }
    }   
}