@import "variables/variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: 'sans serif';
    background: $colorfondo;
    
  
    .cont {
    max-width: 80%;
    text-align: center;
    }
  
 

    h3 {
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 2.5rem;
        padding: 10px;

        @media (max-width:576px){ 
            font-size: $hMob;
        }
    }

    h4 {
        color: #fff;
        font-size:2rem;

        @media (max-width:576px){ 
            font-size: $hMob;
        }
    }

    h5 {
        font-size: 1.5rem;
        color: white;
    }
}


.reserva {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px; 
    border: 1px solid white;
    background-color: $botoncolor;
    font-size: 1rem;
    font-family: $fontrye;
    color: white;
    text-decoration: none;
    cursor: pointer;
        
    &:hover {
        background-color: white;
        color: $botoncolor  ;
        animation: pulsate 1s ease-in-out;
    }

            @keyframes pulsate {
            0% {
              box-shadow: 0 0 30px rgb(236, 236, 236);
            }
        }
    
}